<div>
  <input #searchBar type="text" placeholder="Search by location..">
  <button mat-button (click)="search(searchBar.value)">Search</button>
  <ul>
    <li *ngFor="let rental of rentals$ | async" [appHighlight]="color">
      <h2>Rental no. {{rental.id}}</h2>
      <h3>Id: {{rental.id}}</h3>
      <h3>Location: {{rental.location | uppercase}}</h3>
      <h3>Capacity: {{rental.capacity}}</h3>
      <h3>Price: {{rental.price}}</h3>
      <button mat-raised-button (click)="openDialog(rental.id, rental.capacity)">Book</button>
    </li>
  </ul>
</div>
