<h2 mat-dialog-title>Add Booking</h2>
<div mat-dialog-content>
  <form [formGroup]="dialogForm" (ngSubmit)="onAddBooking()">
    <p>Please type your email: </p>
    <mat-form-field appearance="fill">
      <input matInput formControlName="email">
      <mat-error *ngIf="errorHandling('email', 'required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="errorHandling('email', 'pattern')">
        Email is invalid
      </mat-error>
    </mat-form-field>

    <p>How many people?</p>
    <mat-form-field appearance="fill">
      <input matInput formControlName="nrOfPeople">
      <mat-error *ngIf="errorHandling('nrOfPeople', 'required')">
        Nr of people is required
      </mat-error>
      <mat-error *ngIf="errorHandling('nrOfPeople', 'wrongNrOfPeople')">
        Nr of people is too big
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!dialogForm.valid">Add</button>
      <button mat-button mat-dialog-close (click)="onClose()">Close</button>
    </div>

    <p>Form status: {{dialogForm.status}} </p>
  </form>
</div>
